---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';

---
<MainLayout title="Titel">
<section id="hero" class="h-screen relative bg-center bg-no-repeat bg-contain bg_hero load2">
</section>

<section id="projects" class="relative bg-center bg-no-repeat bg-contain bg_projects z-10 load3">
	<h1 class="text-center sticky top-0 z-50">Graphic work</h1>
	<article class="grid grid-cols-1 lg:grid-cols-12 overflow-hidden mx-auto ">
		<img src="spine.webp" alt="" class="m-2 lg:m-0  lg:object-cover transition-all lg:col-start-3 lg:col-span-2 lg:mt-20 lg:hover:scale-150" >
		<img src="2.webp" alt="" class="m-2 lg:m-0 lg:object-cover transition-all lg:col-start-9 lg:col-span-2">
		<div class="m-2 lg:m-0 lg:object-cover transition-all lg:col-start-6 lg:col-span-2 lg:mt-0">
			<div class="yaki-container slide">
				<img src="yaki1.webp" alt="" class="yaki-main">
				<img src="yaki2.webp" alt="" class="yaki-fan">
				<img src="yaki4.webp" alt="" class="yaki-fan">
				<img src="yaki5.webp" alt="" class="yaki-fan">
				<img src="yaki6.webp" alt="" class="yaki-fan">
			</div>
		</div>
		<img src="inlay.webp" alt="" class=" lg:object-cover transition-all lg:col-start-3 lg:col-span-3 lg:mt-40 slide2">
		<div class="m-2 lg:m-0 lg:col-start-8 lg:col-span-3 flip-container lg:mt-20">
			<div class="flip-card">
				<img src="front.webp" alt="" class=" lg:object-cover transition-all front">
				<img src="back.webp" alt="" class="back">
			</div>
		</div>
	</article>
</section>
  

<section id="projects3" class="relative bg-center bg-no-repeat bg-contain bg_projects z-0">
	<h1 class="text-center sticky top-0 z-50">Paintings</h1>
	<article class="grid grid-cols-1 lg:grid-cols-12 overflow-hidden mx-auto ">
		<img src="6.webp" alt="" class="m-2 lg:m-0 lg:object-cover transition-all lg:col-start-3 lg:col-span-4 lg:mt-40 slide3">
		<img src="4.webp" alt="" class="m-2 lg:m-0 lg:object-cover transition-all lg:col-start-9 lg:col-span-2 slide4">
		<img src="9.webp" alt="" class="m-2 lg:m-0 lg:object-cover transition-all lg:col-start-3 lg:col-span-3 lg:mt-40 slide5">
		<img src="demon.webp" alt="" class="m-2 lg:m-0 lg:object-cover transition-all lg:col-start-8 lg:col-span-2 slide6">
		<img src="faces.webp" alt="" class="m-2 lg:m-0 lg:object-cover transition-all lg:col-start-4 lg:col-span-2 lg:mt-20 slide7">
		<img src="mosh.webp" alt="" class="m-2 lg:m-0 lg:object-cover transition-all lg:col-start-8 lg:col-span-3 slide8">
		<img src="prints.png" alt="" class="m-2 lg:m-0 lg:object-cover transition-all lg:col-start-5 lg:col-span-3 slide9">
	</article>
</section>

	<section id= "about"class="relative bg-center bg-no-repeat bg-contain h-screen bg_about load4">
		<div class="grid lg:grid-cols-2 max-w-3xl mx-auto gap-24">	
			<article class="lg:mt-36 ">
					<img src="cv.webp" alt="" class="w-96 h-80 object-cover sm:mx-auto">
			</article>
				<h3 class="lg:mt-36 mx-24 lg:mx-0">
					Hey! I'm a calm, fun, and energetic person who's always driven and inspired by new ideas. Originally from Gothenburg, I now live in Copenhagen, currently in Valby. I'm working part-time as a freelance graphic designer, and part-time at a graffiti-store while studying Multimedia Design at KEA. I’ve also studied painting at Dômen Konstskola.
I’m passionate about both traditional and digital art, with skills in HTML, CSS, JavaScript, Git, Astro, Figma, Photoshop, and Illustrator.
<br>
<a href="/August_Hasselblad_CV_2024.pdf" class="underline" target="_blank">Read more on my CV</a>
				</h3>
				
		</div>
	</section>
</MainLayout>


<style>
	.bg_hero{
		background-image: url(/hero.png); 
		background-attachment: fixed;
	}
	.bg_projects{
		background-image: url(/projects.png); 
		background-attachment: fixed;
	}
	.bg_about{
		background-image: url(/about.png); 
		background-attachment: fixed;
		
	}

	/* flip animation */
.flip-card {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
  transform-style: preserve-3d;
}
.front, .back {
  position: absolute;
  width: 100%;
  height: auto;
  backface-visibility: hidden;
}
.front {
  transform: rotateY(0deg); 
}
.back {
  transform: rotateY(180deg);
}
.flip-container:hover .flip-card {
  transform: rotateY(180deg);
}

.yaki-container {
  position: relative;
  display: inline-block;
  width: fit-content;
}



.yaki-main {
  position: relative;
  z-index: 10;
}

/* Fan images: initially overlap with the main image */
.yaki-fan {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Same width as the main image */
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 0; /* Hidden initially */
  transform-origin: left center; /* Make the images fan out from the left */
  z-index: -1; /* Keeps them behind the main image */
}

/* When hovering over the container, fan out the images */
.yaki-container:hover .yaki-fan {
  opacity: 1;
}

/* Specific fan-out positions for each image */
.yaki-container:hover .yaki-fan:nth-child(2) {
  transform: translateX(100px);
  z-index: 5;
}

.yaki-container:hover .yaki-fan:nth-child(3) {
  transform: translateX(200px);
  z-index: 4;
}

.yaki-container:hover .yaki-fan:nth-child(4) {
  transform: translateX(300px);
  z-index: 3;
}

.yaki-container:hover .yaki-fan:nth-child(5) {
  transform: translateX(400px);
  z-index: 2;
}



</style>


<script>
	import { inView } from "motion";
	const inviewelement = document.querySelector(".slide");
	inView(
		inviewelement, () => {
			inviewelement.classList.add("slide-top")
		}
	)

	const inviewelement5 = document.querySelector(".slide2");
	inView(
		inviewelement5, () => {
			inviewelement5.classList.add("slide-top")
		}
	)
	const inviewelement6 = document.querySelector(".slide3");
	inView(
		inviewelement6, () => {
			inviewelement6.classList.add("slide-top")
		}
	)
	const inviewelement7 = document.querySelector(".slide4");
	inView(
		inviewelement7, () => {
			inviewelement7.classList.add("slide-top")
		}
	)
	const inviewelement8 = document.querySelector(".slide5");
	inView(
		inviewelement8, () => {
			inviewelement8.classList.add("slide-top")
		}
	)
	const inviewelement9 = document.querySelector(".slide6");
	inView(
		inviewelement9, () => {
			inviewelement9.classList.add("slide-top")
		}
	)
	const inviewelement10 = document.querySelector(".slide7");
	inView(
		inviewelement10, () => {
			inviewelement10.classList.add("slide-top")
		}
	)
	const inviewelement11 = document.querySelector(".slide8");
	inView(
		inviewelement11, () => {
			inviewelement11.classList.add("slide-top")
		}
	)
	const inviewelement12 = document.querySelector(".slide9");
	inView(
		inviewelement12, () => {
			inviewelement12.classList.add("slide-top")
		}
	)
	


	const inviewelement2 = document.querySelector(".load2");
	inView(
		inviewelement2, () => {
			inviewelement2.classList.add("fade-in")
		}
	)

	const inviewelement3 = document.querySelector(".load3");
	inView(
		inviewelement3, () => {
			inviewelement3.classList.add("fade-in")
		}
	)

	const inviewelement4 = document.querySelector(".load4");
	inView(
		inviewelement4, () => {
			inviewelement4.classList.add("fade-in")
		}
	)
</script>